<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.palladiosimulator.indirections.interfaces.datachannelresourcefactory">
      <dataChannelResourceFactory
            dataChannelResourceFactory="org.palladiosimulator.indirections.scheduler.DataChannelResourceFactory">
      </dataChannelResourceFactory>
   </extension>
<!--<extension
      point="org.palladiosimulator.simulizar.runtimestate.runtimestateaccessor">
   <runtimeStateAccessor
         accessor="org.palladiosimulator.indirections.scheduler.implementations.RuntimeReconfigurator">
   </runtimeStateAccessor>
</extension>-->
</plugin>
