<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated indirection -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.simulizar.indirection.presentation.IndirectionModelWizardID"
            name="%_UI_IndirectionModelWizard_label"
            class="org.palladiosimulator.simulizar.indirection.presentation.IndirectionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IndirectionModelFile.gif">
         <description>%_UI_IndirectionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated indirection -->
      <editor
            id="org.palladiosimulator.simulizar.indirection.presentation.IndirectionEditorID"
            name="%_UI_IndirectionEditor_label"
            icon="icons/full/obj16/IndirectionModelFile.gif"
            extensions="indirection"
            class="org.palladiosimulator.simulizar.indirection.presentation.IndirectionEditor"
            contributorClass="org.palladiosimulator.simulizar.indirection.presentation.IndirectionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated indirection -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.simulizar.indirection.actions.presentation.ActionsModelWizardID"
            name="%_UI_ActionsModelWizard_label"
            class="org.palladiosimulator.simulizar.indirection.actions.presentation.ActionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ActionsModelFile.gif">
         <description>%_UI_ActionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated indirection -->
      <editor
            id="org.palladiosimulator.simulizar.indirection.actions.presentation.ActionsEditorID"
            name="%_UI_ActionsEditor_label"
            icon="icons/full/obj16/ActionsModelFile.gif"
            extensions="actions"
            class="org.palladiosimulator.simulizar.indirection.actions.presentation.ActionsEditor"
            contributorClass="org.palladiosimulator.simulizar.indirection.actions.presentation.ActionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated indirection -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.simulizar.indirection.characteristics.presentation.CharacteristicsModelWizardID"
            name="%_UI_CharacteristicsModelWizard_label"
            class="org.palladiosimulator.simulizar.indirection.characteristics.presentation.CharacteristicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CharacteristicsModelFile.gif">
         <description>%_UI_CharacteristicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated indirection -->
      <editor
            id="org.palladiosimulator.simulizar.indirection.characteristics.presentation.CharacteristicsEditorID"
            name="%_UI_CharacteristicsEditor_label"
            icon="icons/full/obj16/CharacteristicsModelFile.gif"
            extensions="characteristics"
            class="org.palladiosimulator.simulizar.indirection.characteristics.presentation.CharacteristicsEditor"
            contributorClass="org.palladiosimulator.simulizar.indirection.characteristics.presentation.CharacteristicsActionBarContributor">
      </editor>
   </extension>

</plugin>
