<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated indirection -->
      <package
            uri="http://palladiosimulator.org/Indirections/Actions/1.0"
            class="org.palladiosimulator.indirections.actions.ActionsPackage"
            genModel="model/indirections.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated indirection -->
      <package
            uri="http://palladiosimulator.org/Indirections/Datatypes/1.0"
            class="org.palladiosimulator.indirections.datatypes.DatatypesPackage"
            genModel="model/indirections.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated indirection -->
      <package
            uri="http://palladiosimulator.org/Indirections/System/1.0"
            class="org.palladiosimulator.indirections.system.SystemPackage"
            genModel="model/indirections.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated indirection -->
      <package
            uri="http://palladiosimulator.org/Indirections/Composition/1.0"
            class="org.palladiosimulator.indirections.composition.CompositionPackage"
            genModel="model/indirections.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated indirections -->
      <package
            uri="http://palladiosimulator.org/Indirections/Repository/1.0"
            class="org.palladiosimulator.indirections.repository.RepositoryPackage"
            genModel="model/indirections.genmodel"/>
   </extension>
</plugin>
